PORT=5000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=YOUR_MYSQL_PASSWORD
DB_NAME=leetcode_tracker
DB_PORT=3306

JWT_SECRET=leetcode_team_tracker_jwt_secret_key_2026_super_secure

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
